/*
|------------------------------------------------------------
| All styles for the homepage specifically.
|------------------------------------------------------------
*/

/*
/* Mobile Styles
/*_______________________________________________________*/

.home {

    .main-content-wrapper {
        display: flex;
        justify-content: space-around;
        flex-direction: column;
    }

    .main-content {
        flex: 0 1 40%;
        align-self: center;
    }

    .sara-foto {
        flex: 0 1 40%;
        text-align: center;

        img {
            width: 100%;
            max-width: 300px;
            margin: 0 auto;
        }
    }

    .nieuws-recepten {
        padding: $spacingTopBottom;

        .single-blog-post {
            display: flex;
            flex-direction: column;
        }

        h2 {
            text-align: center;
        }
    }
}

/*
/* Tablet Styles (minimum of 768px)
/*_______________________________________________________*/
@media screen and (min-width: 768px) {

    body.home {
        .main-content-wrapper {
            flex-direction: row;
        }

        .nieuws-recepten {
            display: flex;
            justify-content: space-around;

            .recepten-frontpage,
            .nieuws-homepage {
                display: flex;
                flex: 0 1 45%;

                .post-thumbnail {
                    max-width: 200px;
                    margin: 0 auto 10px auto;
                }

                .single-blog-post {
                    flex-direction: row;
                }
            }

            > .main-content-wrapper {
                flex-direction: column;
                height: 100%;
            }
        }
    }
}

/*
/* Desktop Styles (minimum 1024px)
/*_______________________________________________________*/
@media screen and (min-width: 1024px) {

}