/*
|------------------------------------------------------------
| All styles for the footer.
|------------------------------------------------------------
*/

/*
/* Mobile Styles
/*_______________________________________________________*/
.footer {

    padding: $defaultSpacing;
    text-align: center;

    ul {
        list-style: none;
        padding: 0;
        margin: 0;

        li {
            padding: 0;
            margin: 0;
        }
    }

    .contactgegevens {
        margin-bottom: 15px;
    }

    .footerlinks {
        margin-bottom: 15px;
    }

    .socialmediafooter {
        margin-bottom: 15px;
        font-size: 2rem;
    }
}

/*
/* Desktop Styles (minimum of 768px)
/*_______________________________________________________*/
@media screen and (min-width: 768px) {

    .footer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .contactgegevens {
            flex: 0 1 30%;
            margin-bottom: 0px;
        }
    
        .footerlinks {
            flex: 0 1 30%;
            margin-bottom: 0px;
        }
    
        .socialmediafooter {
            flex: 0 1 30%;
            margin-bottom: 0px;
            font-size: 2rem;
        }
    }
}
